{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I go by the name of Lasisi Oluwaseun, I am currently a programmer and a blog writer.
          My journey and passion towards writing has been something that have been with me since I can remember.
          Utilising my Knowledge for programming, I was able to create this Website where I am able   to
          not only post content but to share with you all.

        </p>

        <p>
          I hope you will be able to find the topics intriguing and interesting and be sure to leave a comment.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
